@tailwind base;
@tailwind components;
@tailwind utilities;

#socials svg {
  width: 95% !important;
}

#img-back {
  filter: blur(1px) brightness(0.4);
}

@media (min-width: 320px) and (max-width: 768px) {
  .imgFilter {
    filter: blur(1px) brightness(0.55);
  }
}
